.container {
    background-color: #87CBDE;
    height: 33%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 6px;
    border-bottom: 2px solid var(--brown);
    box-sizing: border-box;
}